# Prerequisites
*.d
settings.json
.vscode/
**/.vscode
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
megaphone
awesome_crappy_pb
zombie
zombie2
hi
violence
sed_v2
Harl
claptrap
scavtrap
*.txt
